.com-text {
  line-height: 1 ;
  color: #333;
  font-size: 14px;
}
.com-text--no {
  font-size: 0;
}
.com-text--mi {
  font-size: 10px;
}
.com-text--mi-sm {
  font-size: 11px;
}
.com-text--sm {
  font-size: 12px;
}
.com-text--sm-md {
  font-size: 13px;
}
.com-text--md {
  font-size: 14px;
}
.com-text--md-lg {
  font-size: 15px;
}
.com-text--lg {
  font-size: 16px;
}
.com-text--lg-xl {
  font-size: 17px;
}
.com-text--xl {
  font-size: 18px;
}
.com-text--xl-x {
  font-size: 20px;
}
.com-text--xl-xx {
  font-size: 24px;
}
.com-text--xl-xxx {
  font-size: 30px;
}
.com-text--xl-xxxx {
  font-size: 40px;
}
.com-text--theme {
  color: #ff4c00;
}
.com-text--aux {
  color: #FFB947;
}
.com-text--aux--yellow {
  color: #FCE678;
}
.com-text--theme-light {
  color: #FFB99B;
}
.com-text--warning {
  color: #ff855f;
}
.com-text--danger {
  color: #f7492c;
}
.com-text--success {
  color: #5bb75b;
}
.com-text--info {
  color: #2C78E8;
}
.com-text--dark {
  color: #333;
}
.com-text--light {
  color: #959595;
}
.com-text--gray {
  color: #cecece;
}
.com-text--white {
  color: #fff;
}
.com-text--white-gray {
  color: rgba(255, 255, 255, 0.5);
}
.com-text--white-light {
  color: rgba(255, 255, 255, 0.7);
}
.com-text--gray-border {
  color: #dcdcdc;
}
.com-text--black {
  color: #000;
}
.com-text--center {
  text-align: center;
}
.com-text--left {
  text-align: left;
}
.com-text--right {
  text-align: right;
}
.com-text--bold {
  font-weight: 800;
}
.com-text--italic {
  font-style: italic;
}
.com-text__indent--sm {
  text-indent: 5px;
}
.com-text__indent,
.com-text__indent--md {
  text-indent: 10px;
}
.com-text__wrap--nowrap {
  white-space: nowrap;
}
.com-text__wrap--normal {
  word-wrap: break-word;
  word-break: normal;
}
.com-text__wrap--break {
  word-break: break-all;
}
.com-text__height--mi {
  line-height: 1;
}
.com-text__height--sm {
  line-height: 1.2;
}
.com-text__height,
.com-text__height--md {
  line-height: 1.5;
}
.com-text__height--lg {
  line-height: 2;
}
.com-text__height--xl {
  line-height: 2.5;
}
.com-text--ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.com-text__visible--one {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
/**/
.com-text__visible--two {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.com-ratio {
  position: relative;
  height: 0;
  width: 100%;
}
.com-ratio[data-ratio='2:1'] {
  padding-top: 50%;
}
.com-ratio__task {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
}
.com-btn {
  display: inline-block;
  cursor: pointer ;
  white-space: nowrap;
}
.com-icon {
  font-size: 0;
  height: 14px;
  width: 14px;
  vertical-align: middle;
  line-height: 1;
  background-position: center ;
  background-size: auto 14px ;
}
.com-clear:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.com-clear:before {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.com-box,
.com-box--flex {
  display: flex ;
}
.com-box--inline {
  display: inline ;
}
.com-box--inline-block {
  display: inline-block;
  font-size: 0 ;
  vertical-align: middle;
}
.com-box--block {
  display: block ;
}
.com-box--table {
  display: table ;
}
.com-box--table-row {
  display: table-row;
}
.com-box--table-cell {
  display: table-cell;
}
.com-row::before {
  display: table;
  content: " ";
  clear: both;
}
.com-row::after {
  display: table;
  content: " ";
  clear: both;
}
.com-row[data-gutter='10'] {
  margin-left: -5px;
  margin-right: -5px;
}
.com-row[data-gutter='10'] [class*=com-col-] {
  padding-left: 5px;
  padding-right: 5px;
}
.com-row[data-gutter='20'] {
  margin-left: -10px;
  margin-right: -10px;
}
.com-row[data-gutter='20'] [class*=com-col-] {
  padding-left: 10px;
  padding-right: 10px;
}
.com-col--01 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 4.16666667%;
}
.com-col--02 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 8.33333333%;
}
.com-col--03 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 12.5%;
}
.com-col--04 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 16.66666667%;
}
.com-col--05 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 20.83333333%;
}
.com-col--06 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 25%;
}
.com-col--07 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 29.16666667%;
}
.com-col--08 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 33.33333333%;
}
.com-col--09 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 37.5%;
}
.com-col--10 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 41.66666667%;
}
.com-col--11 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 45.83333333%;
}
.com-col--12 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 50%;
}
.com-col--13 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 54.16666667%;
}
.com-col--14 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 58.33333333%;
}
.com-col--15 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 62.5%;
}
.com-col--16 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 66.66666667%;
}
.com-col--17 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 70.83333333%;
}
.com-col--18 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 75%;
}
.com-col--19 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 79.16666667%;
}
.com-col--20 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 83.33333333%;
}
.com-col--21 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 87.5%;
}
.com-col--22 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 91.66666667%;
}
.com-col--23 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 95.83333333%;
}
.com-col--24 {
  float: left ;
  position: relative;
  min-height: 1px ;
  width: 100%;
}
.com-col--offset-01 {
  margin-left: 4.16666667%;
}
.com-col--offset-02 {
  margin-left: 8.33333333%;
}
.com-col--offset-03 {
  margin-left: 12.5%;
}
.com-col--offset-04 {
  margin-left: 16.66666667%;
}
.com-col--offset-05 {
  margin-left: 20.83333333%;
}
.com-col--offset-06 {
  margin-left: 25%;
}
.com-col--offset-07 {
  margin-left: 29.16666667%;
}
.com-col--offset-08 {
  margin-left: 33.33333333%;
}
.com-col--offset-09 {
  margin-left: 37.5%;
}
.com-col--offset-10 {
  margin-left: 41.66666667%;
}
.com-col--offset-11 {
  margin-left: 45.83333333%;
}
.com-col--offset-12 {
  margin-left: 50%;
}
.com-col--offset-13 {
  margin-left: 54.16666667%;
}
.com-col--offset-14 {
  margin-left: 58.33333333%;
}
.com-col--offset-15 {
  margin-left: 62.5%;
}
.com-col--offset-16 {
  margin-left: 66.66666667%;
}
.com-col--offset-17 {
  margin-left: 70.83333333%;
}
.com-col--offset-18 {
  margin-left: 75%;
}
.com-col--offset-19 {
  margin-left: 79.16666667%;
}
.com-col--offset-20 {
  margin-left: 83.33333333%;
}
.com-col--offset-21 {
  margin-left: 87.5%;
}
.com-col--offset-22 {
  margin-left: 91.66666667%;
}
.com-col--offset-23 {
  margin-left: 95.83333333%;
}
.com-col--offset-24 {
  margin-left: 100%;
}
.com-flex {
  display: flex;
}
.com-flex__col--1 {
  width: 4.16666667%;
}
.com-flex__col--2 {
  width: 8.33333333%;
}
.com-flex__col--3 {
  width: 12.5%;
}
.com-flex__col--4 {
  width: 16.66666667%;
}
.com-flex__col--5 {
  width: 20.83333333%;
}
.com-flex__col--6 {
  width: 25%;
}
.com-flex__col--7 {
  width: 29.16666667%;
}
.com-flex__col--8 {
  width: 33.33333333%;
}
.com-flex__col--9 {
  width: 37.5%;
}
.com-flex__col--10 {
  width: 41.66666667%;
}
.com-flex__col--11 {
  width: 45.83333333%;
}
.com-flex__col--12 {
  width: 50%;
}
.com-flex__col--13 {
  width: 54.16666667%;
}
.com-flex__col--14 {
  width: 58.33333333%;
}
.com-flex__col--15 {
  width: 62.5%;
}
.com-flex__col--16 {
  width: 66.66666667%;
}
.com-flex__col--17 {
  width: 70.83333333%;
}
.com-flex__col--18 {
  width: 75%;
}
.com-flex__col--19 {
  width: 79.16666667%;
}
.com-flex__col--20 {
  width: 83.33333333%;
}
.com-flex__col--21 {
  width: 87.5%;
}
.com-flex__col--22 {
  width: 91.66666667%;
}
.com-flex__col--23 {
  width: 95.83333333%;
}
.com-flex__col--24 {
  width: 100%;
}
.com-flex__col--ao {
  flex: 1;
}
.com-flex__col--fx {
  flex: 0;
}
.com-flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.com-content--center {
  justify-content: center;
}
.com-content--start {
  justify-content: flex-start;
}
.com-content--end {
  justify-content: flex-end;
}
.com-content--around {
  justify-content: space-around;
}
.com-content--between {
  justify-content: space-between;
}
.com-items--center {
  align-items: center;
}
.com-items--start {
  align-items: flex-start;
}
.com-items--end {
  align-items: flex-end;
}
.com-items--baseline {
  align-items: baseline;
}
.com-items--stretch {
  align-items: stretch;
}
.com-align-content--center {
  align-content: center;
}
.com-align-content--start {
  align-content: flex-start;
}
.com-align-content--end {
  align-content: flex-end;
}
.com-align-content--around {
  align-content: space-around;
}
.com-align-content--between {
  align-content: space-between;
}
.com-align-content--stretch {
  align-content: stretch;
}
.com-wrap--nowrap {
  flex-wrap: nowrap;
}
.com-wrap {
  flex-wrap: wrap;
}
.com-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.com-direction--row {
  flex-direction: row;
}
.com-direction--row-reverse {
  flex-direction: row-reverse;
}
.com-direction--column {
  flex-direction: column;
}
.com-direction--column-reverse {
  flex-direction: column-reverse;
}
.com-table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100% ;
}
.com-table--tr {
  display: table-row;
}
.com-table--td {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  min-width: 50px;
  max-width: 400px;
  border-right: 1px solid #fff;
}
.com-table--th {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  background-color: #585870;
  border-right: 1px solid #fff;
}
.com-table--tr:nth-child(2n) {
  background-color: #F6F7FB;
}
.com-table--tr:nth-child(2n+1) {
  background-color: #EBEEF7;
}
.com-shadow {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.com-shadow--top {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05);
}
.com-shadow--right {
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.05);
}
.com-shadow--bottom {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.com-shadow--left {
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.05);
}
.com-cell--mi {
  min-height: 30px;
}
.com-cell--sm {
  min-height: 40px;
}
.com-cell,
.com-cell--md {
  min-height: 50px;
}
.com-cell--lg {
  min-height: 60px;
}
.com-cell--xl {
  min-height: 70px;
}
.com-gradient {
  background-image: linear-gradient(to bottom, #ff4c00, #efefef);
}
.com-background {
  background-color: #ffffff;
}
.com-background--gray {
  background-color: #f8f8fa;
}
.com-background--theme {
  background-color: #ff4c00;
}
.com-background--notice {
  background-color: #fefcee;
}
.com-background--danger {
  background-color: #f7492c;
}
.com-background--aux-yellow {
  background-color: #FCE678;
}
.com-background--assist {
  background-color: #F7812B;
}
.com-list-style--disc {
  list-style: disc inside;
}
.com-margin {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.com-margin--lt {
  margin-left: 10px;
}
.com-margin--rt {
  margin-right: 10px;
}
.com-margin--tp {
  margin-top: 10px;
}
.com-margin--bm {
  margin-bottom: 10px;
}
.com-margin--ad {
  margin-left: 10px;
  margin-right: 10px;
}
.com-margin--ud {
  margin-top: 10px;
  margin-bottom: 10px;
}
.com-margin__lg {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.com-margin__lg--lt {
  margin-left: 20px;
}
.com-margin__lg--rt {
  margin-right: 20px;
}
.com-margin__lg--tp {
  margin-top: 20px;
}
.com-margin__lg--bm {
  margin-bottom: 20px;
}
.com-margin__lg--ad {
  margin-left: 20px;
  margin-right: 20px;
}
.com-margin__lg--ud {
  margin-top: 20px;
  margin-bottom: 20px;
}
.com-margin__xl {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.com-margin__xl--lt {
  margin-left: 40px;
}
.com-margin__xl--rt {
  margin-right: 40px;
}
.com-margin__xl--tp {
  margin-top: 40px;
}
.com-margin__xl--bm {
  margin-bottom: 40px;
}
.com-margin__xl--ad {
  margin-left: 40px;
  margin-right: 40px;
}
.com-margin__xl--ud {
  margin-top: 40px;
  margin-bottom: 40px;
}
.com-margin__sm {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.com-margin__sm--lt {
  margin-left: 5px;
}
.com-margin__sm--rt {
  margin-right: 5px;
}
.com-margin__sm--tp {
  margin-top: 5px;
}
.com-margin__sm--bm {
  margin-bottom: 5px;
}
.com-margin__sm--ad {
  margin-left: 5px;
  margin-right: 5px;
}
.com-margin__sm--ud {
  margin-top: 5px;
  margin-bottom: 5px;
}
.com-padding {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.com-padding--lt {
  padding-left: 10px;
}
.com-padding--rt {
  padding-right: 10px;
}
.com-padding--tp {
  padding-top: 10px;
}
.com-padding--bm {
  padding-bottom: 10px;
}
.com-padding--ad {
  padding-left: 10px;
  padding-right: 10px;
}
.com-padding--ud {
  padding-top: 10px;
  padding-bottom: 10px;
}
.com-padding__sm {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.com-padding__sm--lt {
  padding-left: 5px;
}
.com-padding__sm--rt {
  padding-right: 5px;
}
.com-padding__sm--tp {
  padding-top: 5px;
}
.com-padding__sm--bm {
  padding-bottom: 5px;
}
.com-padding__sm--ad {
  padding-left: 5px;
  padding-right: 5px;
}
.com-padding__sm--ud {
  padding-top: 5px;
  padding-bottom: 5px;
}
.com-padding__lg {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.com-padding__lg--lt {
  padding-left: 20px;
}
.com-padding__lg--rt {
  padding-right: 20px;
}
.com-padding__lg--tp {
  padding-top: 20px;
}
.com-padding__lg--bm {
  padding-bottom: 20px;
}
.com-padding__lg--ad {
  padding-left: 20px;
  padding-right: 20px;
}
.com-padding__lg--ud {
  padding-top: 20px;
  padding-bottom: 20px;
}
.com-padding__xl {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.com-padding__xl--lt {
  padding-left: 40px;
}
.com-padding__xl--rt {
  padding-right: 40px;
}
.com-padding__xl--tp {
  padding-top: 40px;
}
.com-padding__xl--bm {
  padding-bottom: 40px;
}
.com-padding__xl--ad {
  padding-left: 40px;
  padding-right: 40px;
}
.com-padding__xl--ud {
  padding-top: 40px;
  padding-bottom: 40px;
}
.com-radius--ms {
  border-radius: 2px;
}
.com-radius,
.com-radius--md {
  border-radius: 4px;
}
.com-radius--lg {
  border-radius: 10px;
}
.com-radius--ce {
  border-radius: 100%;
}
.com-overflow,
.com-overflow--ao {
  overflow: auto ;
}
.com-overflow--hn {
  overflow: hidden;
}
.com-cover {
  width: 100%;
  height: 100% ;
}
.com-cover--vh {
  height: 100% ;
}
.com-cover--vw {
  width: 100% ;
}
.com-fluid {
  height: 100vh ;
  width: 100vw;
}
.com-fluid--vw {
  width: 100vw ;
}
.com-fluid--vh {
  height: 100vh ;
}
.com-position,
.com-position--re {
  position: relative;
}
.com-position--fd {
  position: fixed;
}
.com-position--ae {
  position: absolute;
}
.com-position--lt-tp {
  left: 0;
  top: 0;
}
.com-position--rt-tp {
  right: 0;
  top: 0;
}
.com-position--lf-bm {
  left: 0;
  bottom: 0;
}
.com-position--lf-bm {
  right: 0;
  bottom: 0;
}
.com-border--dashed,
.com-border--ud,
.com-border--bm,
.com-border--lt,
.com-border--rt,
.com-border--tp,
.com-border {
  position: relative;
}
[class*=com-border--]:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 400%;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.com-border:after {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.com-border--bm:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.com-border--tp:after {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.com-border--lt:after {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.com-border--rt:after {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.com-border--ud:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.com-border--dashed:after {
  border-style: dashed;
}
.com-border--bm.white:after {
  border-bottom: 1px solid #fff;
}
.com-border--tp.white:after {
  border-top: 1px solid #fff;
}
.com-border--lt.white:after {
  border-left: 1px solid #fff;
}
.com-border--rt.white:after {
  border-right: 1px solid #fff;
}
/* 电脑端
.my-border{  border: 1px solid @color-border;  }
.my-border--none{  border: none;  }
.my-border__top{  border-top: 1px solid @color-border;  }
.my-border__top--none{  border-top: none;  }
.my-border__bottom{  border-bottom: 1px solid @color-border;  }
.my-border__bottom--none{  border-bottom:none;  }
.my-border__left{  border-left: 1px solid @color-border;  }
.my-border__left--none{  border-left: none;  }
.my-border__right{  border-right: 1px solid @color-border;  }
.my-border__right--none{  border-right: none;  }*/
